.login-background {
    //background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 100vh;

    .login-container {
        width: 400px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 450px;


        .login-content {
            padding: 10px;
            position: relative;

            .forgot-password {
                font-size: 12px;
            }

            .text-input {
                color: rgba(0, 0, 0, 0.25);
            }

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }

            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                color: white;
                font-size: 18px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .social-login {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                cursor: pointer;

                .google {
                    font-size: 35px;
                    color: white;
                    background-color: red;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 35px;
                    color: white;
                    background-color: #307aff;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}