 //reset slick- slider css
 .slick-prev {
     border: 2px solid #d7d7d7 !important;
     left: -10px !important;
     width: 44px !important;
     height: 48px !important;
     z-index: 1000;
     background-color: #fff !important;
     opacity: 0.8 !important;

     &:hover {
         opacity: 1 !important;
     }

     &::before {
         font-family: 'Glyphicons Halflings' !important;
         color: #d7d7d7 !important;
         //content: "\e257" !important;
     }
 }

 .slick-next {
     border: 2px solid #d7d7d7 !important;
     right: -10px !important;
     width: 44px !important;
     height: 48px !important;
     background-color: #fff !important;
     opacity: 0.8 !important;

     &:hover {
         opacity: 1 !important;
     }

     &::before {
         font-family: FontAwesome !important;
         color: #d7d7d7 !important;
     }
 }

 .section-share {

     &.section-specialty,
     &.section-outstanding-doctor {
         background: #f5f5f5;
     }

     &.section-about {
         background: #f5f5f5;
         height: 500px !important;
         padding: 0 100px;

         .section-about-header {
             padding: 20px 0;
             font-size: 22px;
             font-weight: 600;
         }

         .section-about-content {
             display: flex;
             gap: 15px; //Khoảng cách 2 div
             width: 100%;

             .content-left {
                 width: 60%;
             }

             .content-right {
                 width: 40%;

                 p {
                     text-align: justify;
                     font-style: italic;
                     padding-top: 15px;
                 }
             }
         }
     }

     height: 330px;

     .section-container {
         margin: 0 100px;
         display: flex;
         flex-direction: column;

         .section-header {
             height: 60px;
             margin-bottom: 30px;
             padding-top: 30px;

             .title-section {
                 font-size: 22px;
                 font-weight: 600;
             }

             .btn-section {
                 float: right;
                 display: block;
                 padding: 10px 15px;
                 border: none;
                 outline: none;
                 background-color: #ebebeb;
                 text-transform: uppercase;
                 color: #000;

                 &:hover {
                     background-color: #f7d800;
                     color: #fff;
                 }
             }

         }

         .section-body {
             .section-customize {

                 &.section-handbook {
                     display: flex !important;
                 }

                 .bg-image {
                     width: 278px;
                     height: 150px;
                     background-position: center center;
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-color: #eee;

                     &.section-facility {
                         background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                     }

                     &.section-medical-facility {
                         background-image: url('../../assets/medical-facility/bv-viet-duc.jpg');
                     }

                     &.section-outstanding-doctor {
                         background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                         width: 120px;
                         height: 120px;
                         border-radius: 50%;
                     }

                     &.section-handbook {
                         background-image: url('../../assets/handbook/mat-ngu.jpg');
                     }
                 }

                 div {
                     font-size: 13px;
                     cursor: pointer;

                     &:hover {
                         color: #45c3d2;
                     }
                 }
             }
         }
     }
 }

 .section-outstanding-doctor {
     .outer-bg {
         display: flex;
         justify-content: center;
         margin-bottom: 10px;
     }

     .section-customize {
         padding: 5px;

         .section-border {
             border: 1px solid red;
             padding: 20px
         }
     }
 }